<div class="container" ng-controller="MainController">
  <div class="col-sm-8 col-sm-push-2 col-xs-12">

      <table class="table table-hover table-striped table-bordered">
          <tr ng-repeat="x in rows">
              <td ng-repeat="row in x">{{ row }}</td>
          </tr>
      </table>


      <div>
          <span>
          <input type="file" id="file" file-model="csvFile" >
          <button  type="button" class="btn btn-default btn-file" ng-click = "uploadFile()">Upload</button>
            </span>
      </div>

     <div>
         <button type="button" class="btn btn-success btn-sm" ng-click="getData()">Load New Data</button>
     </div>
      <table class="table table-hover table-striped table-bordered">
          <tr ng-repeat = "r in rowsNew">
              <!--<td ng-repeat = "x in r">{{ x }}</td>-->
              <td>{{ r[0] }}</td>
              <td>{{ r[1] }}</td>
              <td>{{ r[2] }}</td>
              <td>{{ r[3] }}</td>
              <td>{{ r[4] }}</td>
              <td>{{ r[5] }}</td>
          </tr>
      </table>


      </span>
  </div>
</div>